[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/riscv/riscv-glibc
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/riscv/riscv-gcc
[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = https://github.com/riscv/riscv-binutils-gdb
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/riscv/riscv-newlib
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = https://github.com/riscv/riscv-qemu
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv/riscv-dejagnu
